html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.kpi-card {
    padding: 20px;
    border-radius: 10px;
    background: #f5f5f5;
    text-align: center;
    flex: 1;
}

.kpi-value {
    font-size: 32px;
    font-weight: bold;
}

.kpi-container {
    display: flex;
    gap: 20px; /* distance between cards */
    margin-top: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns (each  50% width) */
    gap: 15px; /* distance */
}